/* --- Fonts --- */
@font-face {
    font-family: 'Kalam';
    src: url('../fonts/kalam-regular.woff');
}

/* --- Reset --- */
h1, p {
    margin: 0px;
    padding: 0px;
}
body, div, img, p, h1, h2, h3, h4, h5, h6 {
    box-sizing: border-box;
}

/* --- General --- */
html {
    overflow-y: scroll;
    overflow-x: none;
}
body {
    font-family: Kalam;
    padding-right: 28px; 
}

/* --- Utility --- */

/* Stone Box Content Holder */
.stone-box {
    background-image: url("../img/stone-tile.png");
    border: 1px solid gray;
    padding: 4px;
}
.stone-box > div {
    background-image: url("../img/parchment-pattern.jpg");
    border: 1px solid tan; 
    padding: 3px;
    height: 100%;
}
.stone-box p, .stone-box h1, .stone-box input {
    opacity: 0.9;
}

/* Headshot Content Holder (Can be merged with Stone Box) */
.headshot-box {
    padding: 3px 41px 3px 0px;
    display: inline-block;
    position: relative;
}
.headshot-box img {
    height: 100%;
    width: auto;
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 50%;
    background-image: url("../img/stone-tile.png");
    border: 1px solid gray;
    padding: 2px;
}

/* a based image buttons */
.image-button {
    display: block;
}
.image-button img {
    width: 100%;
    height: 100%;
    float: left;
}
.image-button:hover {
    cursor: pointer;
}

/* Paragraph Labels */
.white-label {
    background-color: white;
    border: 2px solid black;
    border-radius: 4px;
    display: inline-block;
    margin-top: 3px;
    padding: 0px 3px;
}

/* Center Text */
.tc {
    text-align: center;
}

/* Clickable */
.clickable:hover {
    cursor: pointer;
}

/* --- Specific --- */ 

body {
    background-image: url("../img/background-temp.png");
    background-position: left bottom;
    background-repeat: no-repeat;
    background-color: rgb(85, 180, 255);
    width: 100vw;
    min-height: 100vh;
    margin: 0px;
}

header {
    width: 100%;
}
header h1 {
    font-weight: bold;
    font-size: 1.6em;
    text-align: center;
    line-height: 1em;
    padding-top: 5px;
}

