/* --- Fonts --- */
@font-face {
    font-family: 'Kalam';
    src: url('res/fonts/kalam-regular.woff');
}

/* --- Reset --- */
h1, p {
    margin: 0px;
    padding: 0px;
}

/* --- General --- */

body {
    font-family: Kalam;
}

/* --- Utility --- */

/* Stone Box Content Holder */
.stone-box {
    background-image: url("res/images/stone-tile.png");
    border: 1px solid gray;
    padding: 4px;
}
.stone-box > div {
    background-image: url("res/images/parchment-pattern.jpg");
    border: 1px solid tan; 
    padding: 3px;
    height: 100%;
    width: 100%;
}
.stone-box p, .stone-box h1, .stone-box input {
    opacity: 0.9;
}

/* Headshot Content Holder (Can be merged with Stone Box) */
.headshot-box {
    padding: 3px 41px 3px 0px;
    display: inline-block;
    position: relative;
}
.headshot-box img {
    height: 100%;
    width: auto;
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 50%;
    background-image: url("res/images/stone-tile.png");
    border: 1px solid gray;
    padding: 2px;
}

/* --- Specific --- */ 

body {
    background-image: url("res/images/background-temp.png");
    background-position: left bottom;
    background-repeat: no-repeat;
    background-color: rgb(85, 180, 255);
    width: 100vw;
    min-height: 100vh;
    margin: 0px;
}

header {
    width: 100%;
}
header h1 {
    font-weight: bold;
    font-size: 1.6em;
    text-align: center;
    line-height: 1em;
    padding-top: 5px;
}

#taskbox {
    display: inline-block;
    width: 100%;
    padding: 0% 10%;
}
.task {
    margin: 1em 0em;
}
.task p{
    font-weight: bold;
}
.task button {
    float: left;
    -webkit-appearance:none;
    height: 17px;
    width: 17px;
    background-color: white;
    border: 1px solid black;
    border-radius: 7px;
    margin-right: 5px;
    margin-top: 2px;
    /* width: 80%;
    height: 80%; */
}